.header {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;

	&__navigation {

	}

	&__navigation-links-wrapper {
		display: flex;
		list-style: none;
		gap: 15px;
	}

	&__navigation-item {

	}
}