.products-list {
	gap: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	padding: 50px;
	justify-content: center;

	&__item {
		border: 1px solid blue;
		display: flex;
		flex-direction: column;
		padding: 15px;
		height: 300px;
		align-items: center;
		justify-content: space-between;
	}

	&__item-title {

	}

	&__item-image-wrapper {
		height: 60%;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__item-image {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

	&__item-bottom {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__item-price {

	}

	&__item-add-button {

	}
}